<a href="https://colab.research.google.com/github/emrangel/30daysR/blob/main/Python_d%C3%ADa1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python día 1

Este es el primero de 3 ejercicios que replican el esfuerzo de [Aman Kharwal](https://thecleverprogrammer.com/2020/05/08/birth-rate-analysis/), espero que sea de ayuda para algunos que como yo están empezando en el mundo de la programación y los datos

In [ ]:
import pandas as pd

url = 'https://raw.githubusercontent.com/amankharwal/Birthrate-Analysis/master/births.csv'
births = pd.read_csv(url) 
print(births.head)
births['day'].fillna(0, inplace=True) 
births['day'] = births['day'].astype(int)
births.dtypes
births.isnull().sum()

Vamos paso a paso para entender todo el código:



1.   Importamos la librería pandas 
2.   El archivo que usamos esta en la plataforma de Github por lo que a "url" le ponemos el path o Url
3. Luego leemos el csv (url)
4. is.null().sum = Suma todos los valores nulos que tiene cada columna o variable
5. df.head le muestra los primeros datos de su dataframe si (5) le mostrara los primeros 5
6. [] selecciona la variable a transformar y .fillna(0, inplace=True) elimina todos los valores nulos
7. luego cambiamos el tipo de datos que es la variable ya que trabajamos con números.

In [ ]:
births.shape

In [10]:
births['decade'] = 10 * (births['year'] // 10)
tb=births.pivot_table('births', index='decade', columns='gender', aggfunc='sum')
print(births)
tb

       year  month  day gender  births  decade
0      1969      1    1      F    4046    1960
1      1969      1    1      M    4440    1960
2      1969      1    2      F    4454    1960
3      1969      1    2      M    4548    1960
4      1969      1    3      F    4548    1960
...     ...    ...  ...    ...     ...     ...
15542  2008     10    0      M  183219    2000
15543  2008     11    0      F  158939    2000
15544  2008     11    0      M  165468    2000
15545  2008     12    0      F  173215    2000
15546  2008     12    0      M  181235    2000

[15547 rows x 6 columns]

gender         F         M
decade
1960     1753634   1846572
1970    16263075  17121550
1980    18310351  19243452
1990    19479454  20420553
2000    18229309  19106428